{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="page-header">
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}
</div>
<div class="row placeholders">
  <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class = "panel-title">Users</h3>
  </div>
</div>
      {% if userprofiles %}
        <ul class="list-group">
          {% for profile in userprofiles %}
          <li class="list-group-item"><a href="/hummingbird/profile/{{profile.user_id.id}}">{{ profile.name }}</a> - {{ profile.song.name }}</li>
          {% endfor %}
      {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
  </div>
  <div class = "col-xs-12 col-sm-6 placeholder">
  <div class = "panel panel-primary">
  <div class = "panel-heading">
  <h3 class = "panel-title">Top Pages</h3>
  </div>
  </div>
       {% if pages %}
       		<ul class="list-group">
       		{% for page in pages %}
       		<li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
       		{% endfor %}
          </ul>
       	{% else %}
       	<strong>No pages are popular... at all.</strong>
       	{% endif %}
        </div>
        </div>
         <p> visits: {{ visits }}</p>
{% endblock %}

