{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Activity{% endblock %}

{% block variables %}
var message_list = [];
{% for message in log_messages %}
message_list.push({
	id: {{ message.id }},
	date: "{{ message.date }}",
	message: "{{ message.message }}"
});
{% endfor %}
{% endblock %}

{% block javascript %}{% static "js/activity.js" %}{% endblock %}

{% block tabs %}
<li class="active"><a href="#">Activity</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
<table class="table">
	<tr>
		<th style="border-top: none;">Date</th>
		<th style="border-top: none;">Message</th>
	</tr>
</table>
{% endblock %}
