{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block variables %}
var songs = {
	0: {
		title: "Let Hummingbird Choose!",
		artist: null,
		album: null,
		length: null
	}
};
{% for song in songs %}
	songs[{{ song.id }}] = {
		title: "{{ song.title }}",
		artist: "{{ song.artist }}",
		album: "{{ song.album }}",
		length: {{ song.length }}
	};
{% endfor %}
var walkin_song = 0;
var delay_default = {{ delay }};
var delay = delay_default;
{% endblock %}

{% block javascript %}{% static "js/login.js" %}{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link create">Create an account or <a href="#">login</a></h3>
	<h3 class="header-link login">Login or <a href="#">create an account</a></h3>
</div>
<form class="create form-horizontal" role="form" action="/" method="POST" id="create-form">
	{% csrf_token %}
	<div class="form-group">
		<label for="loginName" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-user"></span>
			&nbsp;Name*
		</label>
		<div class="edit editFirstName col-sm-5">
			<input type="text" class="editFirstName form-control" name="create_first_name" id="createFirstName" placeholder="John">
		</div>
		<div class="edit editLastName col-sm-5">
			<input type="text" class="editFirstName form-control" name="create_last_name" id="createLastName" placeholder="Smith">
		</div>
	</div>
	<div class="form-group">
		<label for="loginEmail" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-envelope"></span>
			&nbsp;Email*
		</label>
		<div class="edit editEmail col-sm-10">
			<input type="email" class="editEmail form-control" name="create_email" id="createEmail" placeholder="jsmith@example.com">
		</div>
	</div>
	<div class="form-group">
		<label for="loginMAC" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-phone"></span>
			&nbsp;MAC Address*
		</label>
		<div class="edit editMAC col-sm-10">
			<input type="text" class="editMAC form-control" name="create_mac_address" id="createMAC" placeholder="a0:b1:c2:d3:e4:f5">
		</div>
	</div>
	<div class="form-group">
		<label for="loginUsername" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-user"></span>
			&nbsp;Username
		</label>
		<div class="edit editUsername col-sm-10">
			<input type="text" class="editUsername form-control" name="create_username" id="createUsername" placeholder="jsmith">
		</div>
	</div>
	<div class="form-group">
		<label for="loginPassword" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password
		</label>
		<div class="edit editPassword col-sm-10">
			<input type="password" class="editPassword form-control" name="create_password" id="createPassword">
		</div>
	</div>
	<div class="form-group">
		<label for="loginPasswordConfirm" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password Confirm
		</label>
		<div class="edit editPasswordConfirm col-sm-10">
			<input type="password" class="editPasswordConfirm form-control" name="create_password_confirm" id="createPasswordConfirm">
		</div>
	</div>
	<div class="form-group">
		<label for="loginSong" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-music"></span>
			&nbsp;Walk-in Song
		</label>
		<div class="edit editSong">
			<div class="col-sm-2 dropdown">
			    <button data-toggle="dropdown" class="btn dropdown-toggle"></button>
			    <ul class="dropdown-menu"></ul>
			</div>
			<p class="col-sm-8 form-control-static"></p>
			<input type="hidden" name="create_song_id" id="createWalkinSong" value={{ walkin_song }}>
		</div>
	</div>
	<div class="form-group">
		<label for="loginDelay" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-time"></span>
			&nbsp;Delay
		</label>
		<div class="edit editDelay col-sm-10">
			<input type="number" class="editDelay form-control" name="create_delay" id="createDelay" min="0" value={{ delay }}>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<a href="#" class="btn btn-primary" role="button" id="submit-create">Create Account</a>
			<button type="button" class="btn btn-default btn-reset">Reset</button>
		</div>
	</div>
</form>
<form class="login form-horizontal" role="form" action="/" method="POST" id="login-form">
	{% csrf_token %}
	<div class="form-group">
		<label for="loginEmail" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-envelope"></span>
			&nbsp;Username or Email
		</label>
		<div class="edit editEmail col-sm-10">
			<input type="text" class="editEmail form-control" name="login_email" id="loginEmail" placeholder="jsmith">
		</div>
	</div>
	<div class="form-group">
		<label for="loginPassword" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password
		</label>
		<div class="edit editPassword col-sm-10">
			<input type="password" class="editPassword form-control" name="login_password" id="loginPassword">
		</div>
	</div>
	<!-- <p><small>Note: If you created your account without a password, your password is your MAC address.</small></p> -->
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<a href="#" class="btn btn-primary" role="button" id="submit-login">Login</a>
		</div>
	</div>
</form>
{% endblock %}
